<!DOCTYPE html>
<html>

<head>
    <!-- css files -->
    {{>css}}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template m-5 text-center">
                    <span style="font-size: 26px;">Oops!</span> <br>
                    <span style="font-size: 50px;">404 error</span> <br>
                    <span>
                        The page you requested cannot be found.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- javascript files-->
    {{>script}}
</body>

</html>