<!-- Footer -->
<footer class="page-footer sticky fixed-bottom bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <span style="font-size: 12px;">&copy; Weather App 2020. All rights reserved. <br> Powered by</span>
        <a style="color: #fad300; font-size: 14px; font-weight: bold; font-style: italic;"
            href="http://github.com/tampussy" target="_blank">tampussy</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->